<div style="margin-top: 5rem;">
    <a class="anchor" id="workflow"></a>
    <h3>System Overview</h3>
    {%- assign image_path_workflow = page.workflow.image | prepend: 'assets/img/' -%}
    {% include figure.html
    path=image_path_workflow
    class=profile_image_class
    width="100%"
    alt=page.profile.image -%}

    <p>
        Our proposed framework for 3D sports field registration: (1) Segment localization performs instance
        segmentation and selects appropriate points with respective label from a known calibration object (3D model),
        and (2) our main contribution, the calibration module, which predicts camera parameters by iteratively
        minimizing the segment reprojection loss.
    </p>

</div>