---
layout: default
---

<!-- about.html -->
<div class="post">
	<header class="post-header">
		<h1 class="post-title" style="text-align: center;">
			<!-- {% if site.title == "blank" -%}
			{{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %} -->
			<span class="font-weight-bold">{{ site.title_full }}</span>
		</h1>
		<h3 class="desc" style="text-align: center;">{{ page.subtitle }}</h3><br>
	</header>

	<article>

		{% if page.profile -%}
		{{page.profile.caption-top}}
		{%- if page.profile.caption-top %}
		{% endif %}

		{%- if page.profile.image %}
		{%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

		{% if page.profile.image_circular %}
		{%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
		{% else %}
		{%- assign profile_image_class = "img-fluid rounded" -%}
		{% endif %}

		{% include figure.html
		path=profile_image_path
		class=profile_image_class
		alt=page.profile.image -%}
		{% endif -%}
		{%- if page.profile.caption-bottom %}
		<div class="address">
			{{ page.profile.caption-bottom }}
		</div>
		{%- endif %}
		{%- endif %}

		<div style="margin-top: 5rem;">
			<div class="clearfix">
				<h2>Abstract</h2>
				{{ content }}
			</div>

			{% if page.news -%}
			<!-- News -->
			{%- include news.html %}
			{%- endif %}
			{% if page.selected_papers -%}
			<!-- Selected papers -->
			{%- include selected_papers.html %}
			{%- endif %}


		</div>


		{% include workflow.html %}

		<div style="margin-top: 5rem;">
			<h3>Reproducibility</h3>
			<h5>Source Code available on <a href="https://github.com/jtheiner/tvcalib">Github</a></h5>
			<hr>
			<h5>Additional Annotations for WC14-test</h5>
			<p>We provide annotations on this benchmark dataset to measure the image
				reprojection
				error (via ACC@t) for 3D sports field registration:
				<code><a href="static/wc14-sncalib-annotations.zip">wc14-sncalib-annotations.zip</a></code>
			</p>
		</div>

		{% include results_sncalib.html %}

		{% include results_wc14.html %}

		{% include results_wc14_examples.html %}

		<!-- Social -->
		{%- if page.social %}
		<hr>
		<div class="social">
			<div class="contact-icons">
				{% include social.html %}
			</div>

			<div class="contact-note">
				{{ site.contact_note }}
			</div>

		</div>
		{%- endif %}

	</article>

</div>